<%= simple_form_for @group do |f| %>
  <div class="form-group col-md-12">
    <%=f.input :title,iput_html: {class: "form-control"} %>
    <%=f.input :description,input_html:{class: "form-control"}%>
  </div>
  <%= f.submit "Submit",class: "btn btn-primary",data:{disable_with: "Submiting..."}%>
<% end %>
